/* Styles for the "add card" form */
@layer components {
  .add-card-bg {
    @apply bg-gray-50 rounded-lg;
    padding: 20px 21px 32px 21px;
    min-height: 407px;
  }

  .add-card-title {
    @apply text-2xl font-bold text-gray-600 mb-3.5;
    line-height: 1.21;
  }

  .add-card-header {
    @apply mb-10 pb-3.5 border-b border-gray-300;
  }

  .add-card-fields {
    @apply space-y-6;
  }

  .add-card-actions {
    @apply flex items-center justify-center gap-6 mt-[52px];
  }

  .add-card-actions .ui-btn {
    @apply w-[132px] h-[52px];
  }

  @media (min-width: 641px) {
    .add-card-bg {
      padding: 20px 21px 32px 21px;
      min-height: 407px;
    }

    .add-card-actions {
      @apply mt-[52px];
    }
  }

  @media (max-width: 640px) {
    .add-card-bg {
      padding: 20px 15px 30px 15px;
      min-height: auto;
    }

    .add-card-actions {
      @apply flex-col gap-4 mt-8;
    }

    .add-card-actions .ui-btn {
      @apply w-full h-12;
    }
  }
}