{% comment %} 編輯卡片時的表單 {% endcomment %}
<form
  action="{% url 'admins:update_card' card.id %}"
  method="post"
>
    {% csrf_token %}
    <div class="py-4 flex flex-col flex-wrap form-card-bg">
      <h3 class="form-title mb-2">編輯卡片</h3>
      <label class="field-label">Card ID: {{card.id}}</label>
      <div class="field-group">
        <label for="card_edit" class="field-label">信用卡</label>
        <input
          id="card_edit"
          class="ui-input"
          name="card_edit"
          type="text"
          value="{{card.name}}"
        />
      </div>

      <div class="field-group">
        <label for="bank_edit" class="field-label">銀行</label>
        <select
          id="bank_edit"
          name="bank_edit"
          type="text"
          class="ui-input"
          placeholder="輸入銀行"
          required
        >
          <option value="{{card.bank.id}}" selected>{{card.bank.name}}</option>
          {%for bank in banks%}
            {%if bank.id != card.bank.id%}
              <option value="{{bank.id}}">{{bank.name}}</option>
            {%endif%}
          {% endfor %}
        </select>
      </div>

      <div class="field-group">
        <label for="network_edit" class="field-label">發卡機構</label>
        <select
          id="network_edit"
          class="ui-input"
          name="network_edit"
          required
        >
          <option value="{{card.card_network}}" selected>{{card.card_network}}</option>
          {%for card_network in card_networks%}
          {%if card_network != card.card_network %}
          <option value="{{card_network}}">{{card_network}}</option>
          {%endif%}
          {%endfor%}
        </select>
      </div>

      <div class="field-group">
        <label for="card_type_edit" class="field-label">卡片等級</label>
        <select
          id="card_type_edit"
          class="ui-input"
          name="card_type_edit"
          required
        >
          <option value="{{card.card_type}}" selected>{{card.card_type}}</option>
          {%for card_type in card_types%}
          {%if card_type != card.card_type %}
          <option value="{{card_type}}">{{card_type}}</option>
          {%endif%}
          {%endfor%}
        </select>
      </div>


      <div class="field-group flex flex-row items-center">
        <label for="is_active_edit" class="field-label">發行中？</label>
        {%if card.is_active%}
        <input id="is_active_edit" class="checkbox mb-2" name="is_active_edit" type="checkbox" checked />
        {%else%}
        <input id="is_active" class="checkbox mb-2" name="is_active_edit" type="checkbox" />
         {%endif%}
      </div>


      <div>
        <button type="submit" class="ui-btn ui-btn-primary cursor-pointer">
          儲存
        </button>
      </div>
    </div>
</form>


