<form
    id="new_card_form"
    hx-post="{%url 'admins:new_card'%}"
    hx-target="#card_body"
    hx-swap="afterbegin"
    hx-on::after-request="this.reset()"
  >
    {% csrf_token %}

    <div class="py-4 flex flex-col flex-wrap form-card-bg">
      <h3 class="form-title mb-2">新增卡片</h3>
      <div class="field-group">
        <label for="bank" class="field-label required">銀行</label>
        <select
          id="bank"
          name="bank"
          type="text"
          class="ui-input"
          placeholder="輸入銀行"
          required
        >
          <option value="" selected disabled>請選擇銀行</option>
          {%for bank in banks%}
          <option value="{{bank.id}}">{{bank.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="field-group">
        <label for="card" class="field-label required">信用卡</label>
        <input
          id="card"
          name="card"
          type="text"
          class="ui-input"
          placeholder="輸入信用卡名"
          required
        />
      </div>

      <div class="field-group">
        <label for="network" class="field-label required">發卡機構</label>
        <select id="network" class="ui-select" name="network" required>
          <option value="" selected disabled>請選擇發卡機構</option>
          {%for card_network in card_networks%}
          <option value="{{card_network}}">{{card_network}}</option>
          {%endfor%}
        </select>
      </div>

      <div class="field-group">
        <label for="card_type" class="field-label required">卡片等級</label>
        <select id="card_type" class="ui-select" name="card_type" required>
          <option value="" selected disabled>請選擇卡片等級</option>
          {%for card_type in card_types%}
          <option value="{{card_type}}">{{card_type}}</option>
          {%endfor%}
        </select>
      </div>

      <div id="is_active" class="field-group flex flex-row items-center">
        <label for="is_active" class="field-label">發行中？</label>
        <input
          id="is_active"
          name="is_active"
          class="checkbox mb-2"
          type="checkbox"
        />
      </div>

      <div>
        <button type="submit" class="ui-btn ui-btn-primary cursor-pointer">
          新增
        </button>
      </div>
    </div>
</form>

