PGSERVICEFILE=/絕對路徑/.pg_service.conf
NLP_BATCH_SIZE=100
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GEMINI_API_KEY=
POSTGRES_DB=rewardia_db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
NETBIRD_SETUP_KEY=
HOME_SELENIUM_URL=
CRAWLER_SCHEDULE=
USE_S3=True
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
GOOGLE_CLOUD_VISION_API_KEY=
FERNET_KEY=
BIN_API_KEY=