<div class="faq-qa-item">
  <div class="faq-question">
    <span class="faq-question-text">{{ question_text }}</span>
    <button class="faq-toggle-btn" @click="toggleItem('{{ item_id }}')">
      <span class="faq-arrow-icon transition-transform duration-300" :class="{'rotate-180': openItem === '{{ item_id }}'}">
        {% include 'components/icon.html' with name='chevron-down' class='w-5 h-5' %}
      </span>
    </button>
  </div>
  <div class="faq-answer" x-show="openItem === '{{ item_id }}'" x-transition>
    <p class="faq-answer-text">{{ answer_text|safe }}</p>
  </div>
</div>
